*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

/*header*/

.cont-all-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px; 
    gap: 10px;
    background: radial-gradient(circle, #2110478c, #060a177f);
    position: fixed;
    width: 88%;
    height: 70px;
    margin: 20px;
    border-radius: 20px;
}

.cont-all-header h1{
    text-transform: uppercase;
    color: #00a6ff8a;
}

.cont-all-header p{
    font-weight: 600;
    color: #ccccccc3;
}

 img{
    width: 100px;
}

.cont-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-header{
    width: 500px;
    display: flex;
    justify-content: center;
}

.text-change{
    transition: opacity 1s ease;
    opacity: 1;
}

.oculto{
    opacity: 0;
}

.info-perrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ventana-inicio{
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.281);
    margin: 20px 0 0 0;
    display: none;
    margin-left: 95px;
    z-index: 1;
}

.menu-compu a{
    color: #ccccccc3;
    text-transform: uppercase;
    transition: all 1s ease;
}

.item-comida{
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.557);
}

.hamburguesa, .perro-cordero, .perro-americano, .hamburguesa-mixta{
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.mostrar{
    display: block;
}

.price{
    color: black;
    padding-left: 10px;
    text-transform: uppercase;
}

/*section*/

main{
    height: auto;
    background: linear-gradient(to bottom, #211047, #060A17, #211047);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    gap: 100px 10px;
    padding-top: 300px;
    overflow-x: scroll;
}

main div{
    text-align: center;
    text-transform: capitalize;
    color: #ccccccc3;
}

.description-burger-mixta, .description-burger-trescarnes, .description-hotdog, .description-corderdog{
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section div img{
    width: 500px;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(128, 128, 128, 0.349);
}

section div h3{
    color: #ccccccc3;
    text-transform: uppercase;
}

/*footer*/
footer{
    background: linear-gradient(to bottom,#211047,#060A17);
    color: #ccccccc3;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px 0;
}

.footer-telefono, .footer-correo{
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    text-align: center;
    align-items: center;
}

.cont-contact{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.ocultar{
    display: none;
    transition: all 1s ease;
}

@media (max-width: 400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    header{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #060A17, #211047);
    }
    .cont-header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 350px;
    }
    .cont-all-header{
        width: 350px;
        padding: 0;
        margin: 0;
    }
    .cont-all-header h1{
        font-size: 15px;
    }
    .logo-img{
        width: 40px;
    }
    .text-header{
        width: auto;
    }
    .info-perrada{
        width: auto;
    }
    .text-change{
        display: none;
    }
    .svg{
        display: block;
        width: 40px;
        height: 40px;
        color: white;
    }
    main{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px 0 0 0;
    }
    main section img{
        width: 300px;
    }
    .menu-celular{
        left: -100%;
    }
    #check:checked ~ .menu-celular{
        right: 0;
    }
    .cont-menu nav ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #535353;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background: none;
        color: red;
    }
    .cont-menu nav{
        width: 20px;
    }
    .all{
        transition: margin-left 0.5s;
    }
}